# .github/workflows/template-sync.yml
name: Template Sync

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  template-sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Configure 1Password
        uses: 1password/load-secrets-action/configure@v1
        with:
          service-account-token: ${{ secrets.OP_SERVICE_ACCOUNT_TOKEN }}

      - name: Load GitHub App ID from 1Password
        id: load-secrets
        uses: 1password/load-secrets-action@v3
        env:
          APP_ID: op://surefireops/github_actions_secrets/github_app_app_id

      - uses: actions/create-github-app-token@v2
        id: app-token
        with:
          app-id: ${{ steps.load-secrets.outputs.APP_ID }}
          private-key: ${{ secrets.APP_SECRET_KEY }}
          owner: ${{ github.repository_owner }}

      - name: Sync with dependent repositories
        uses: ahmadnassri/action-template-repository-sync@v2
        with:
          github-token: ${{ steps.app-token.outputs.token }}
          config: .github/template-sync.yml
